.artist.container{
    width: 100vw;

    padding:0 10vw;
    background-color: rgb(251, 231, 255);
}
.avatar{
    height:auto;
    width: 100%;
    margin: 20vh  0 5vw 0;
    /* background-color: rgb(94, 235, 235); */
}
.artist-name{
    letter-spacing: 0.25em;
    font-weight: 700;
    margin: 0  0 5vw 0;
    /* background-color: rgb(94, 235, 235); */
}
.bio{
    margin: 0  0 5vw 0;
    font-weight: 600;
    font-size: 1.5em;
    text-justify: distribute;
    /* background-color: rgb(94, 235, 235); */
}
.map-text{
    margin: 0  0 5vw 0;
    /* background-color: rgb(94, 235, 235); */
}
.map{
    height: 80vw;
    background-color: rgb(236, 204, 255);
    border-radius: 10px;
    margin: 0  0 5vw 0;

}
.collage{
    margin: ;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: stretch;
    /* background-color: rgb(94, 235, 235); */
}
.collage>a{
    color:black;
    width: calc( calc( 100% - 5vw ) / 2 );
    margin:  0  0 5vw 0;
}
.card.art{
    align-items: center;
    height: 100%;
    border-radius: 5%;
}
.card.art > div.card-body{
    padding: 0.35rem;
}
img.card-img-top{
    width: 35vw;
    height:35vw;
    object-fit: cover;
    margin: 0.25em;
    border-radius: 5%;
}
.reviews{
    height: 60vh;
    background-color: rgb(236, 204, 255);
    border-radius: 10px;
    margin: 0  0 5vw 0;
}